
# Android Specific
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
android/app/intermediates/
android/app/outputs/
android/app/tmp/
*.apk
*.aar
*.ap_


# IDE & Configuration files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history
.project
.classpath
.settings/

# OS/Log placeholders
*.log
*.swp
*.tmp
Thumbs.db
android/app/src/main/jniLibs/